USE [master]
GO
/****** Object:  Database [dbLogin]    Script Date: 4.05.2021 00:09:13 ******/
CREATE DATABASE [dbLogin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbLogin', FILENAME = N'C:\Users\Ahmet\dbLogin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbLogin_log', FILENAME = N'C:\Users\Ahmet\dbLogin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbLogin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbLogin]
GO
USE [dbLogin]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 4.05.2021 00:09:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
